
venv/
.venv/
env/

reports/
tmp_snapshots/
res_scan.txt
targets.txt
paused.conf
dead_cams.txt
ips_*.txt

masscan_output.txt
*.conf

__pycache__/
*.py[cod]
*.pyo
*.pyd

.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db
